In [2]:
import pandas as pd
import numpy as np

This code loads an Excel file and prints the first few rows to identify and understand potential data issues.

In [4]:


# Load the file
file_path = './Online_Retail.xlsx'
df = pd.read_excel(file_path, engine='openpyxl')


print(df.head(10))
print(df.info())
print('\
')

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

The below code snippet will check for data quality issues such as missing values, negative quantities, zero or negative prices, invalid customer IDs, and cancelled invoices.

In [5]:
# Check for various data quality issues
print("1. Missing Values:")
print(df.isnull().sum())

print("\nNumber of negative quantities:", len(df[df['Quantity'] < 0]))

print("\nNumber of zero/negative prices:", len(df[df['UnitPrice'] <= 0]))

print("\nNumber of missing CustomerIDs:", df['CustomerID'].isnull().sum())
print("\nCancelled Invoices (Starting with C):", len(df[df['InvoiceNo'].astype(str).str.startswith('C')]))


# Show some examples of problematic rows
print("\nExample of rows with negative quantities:")
print(df[df['Quantity'] < 0].head(3))

print("\nExample of rows with zero/negative prices:")
print(df[df['UnitPrice'] <= 0].head(3))

print("\nUnique countries in the dataset:")
print(df['Country'].unique())

1. Missing Values:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Number of negative quantities: 10624

Number of zero/negative prices: 2517

Number of missing CustomerIDs: 135080

Cancelled Invoices (Starting with C): 9288

Example of rows with negative quantities:
    InvoiceNo StockCode                      Description  Quantity  \
141   C536379         D                         Discount        -1
154   C536383    35004C  SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556   PLASTERS IN TIN CIRCUS PARADE        -12

            InvoiceDate  UnitPrice  CustomerID         Country
141 2010-12-01 09:41:00      27.50     14527.0  United Kingdom
154 2010-12-01 09:49:00       4.65     15311.0  United Kingdom
235 2010-12-01 10:24:00       1.65     17548.0  United Kingdom

Example of rows with zero/negative prices:
     InvoiceNo StockCode Description  Quantity         InvoiceDate  UnitPrice  \
622     536414     22139         NaN        56 2010-12-01 11:52:00        0.0
1970    536545     21134         NaN         1 2010-12-01 14:32:00        0.0
1971    536546     22145         NaN         1 2010-12-01 14:33:00        0.0

      CustomerID         Country
622          NaN  United Kingdom
1970         NaN  United Kingdom
1971         NaN  United Kingdom

Unique countries in the dataset:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

This code snippet cleans an online retail dataset by creating a transaction type column, removing missing descriptions, filtering out negative prices, and calculating the total value of each transaction.

In [16]:


# Create a copy for cleaning
df_cleaned = df.copy()

# 1. Create Transaction Type column
df_cleaned['Transaction_Type'] = np.where(df_cleaned['InvoiceNo'].astype(str).str.startswith('C'), 'Return', 'Purchase')

# 2. Remove rows with missing Description
df_cleaned = df_cleaned.dropna(subset=['Description'])

# 3. Remove rows with negative prices (but keep negative quantities as they're returns)
df_cleaned = df_cleaned[df_cleaned['UnitPrice'] >= 0]

# 4. Calculate the total value of each transaction
df_cleaned['Total_Value'] = df_cleaned['Quantity'] * df_cleaned['UnitPrice']

# Show the impact of cleaning
print("Original dataset shape:", df.shape)
print("Cleaned dataset shape:", df_cleaned.shape)
print("\
Sample of cleaned data:")
print(df_cleaned.head())

# Save the cleaned dataset
df_cleaned.to_excel('Online_Retail_Cleaned.xlsx', index=False)
print("\
Cleaned file saved as 'Online_Retail_Cleaned.xlsx'")

Original dataset shape: (541909, 8)
Cleaned dataset shape: (540453, 10)
Sample of cleaned data:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country Transaction_Type  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom         Purchase
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         Purchase
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom         Purchase
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         Purchase
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         Purchase

   Total_Value
0        15.30
1        20.34
2        22.00
3        20.34
4        20.34
Cleaned file saved as 'Online_Retail_Cleaned.xlsx'